<div class="center">
    <h1>Add a User</h1>
    <form class="form-body" action="/overview" method="POST">


        <label><b>First Name</b></label><br>
        <input type="text" name="firstname" value="Mickey">
        <br><br>
        <label><b>Last Name</b></label><br>
        <input type="text" name="firstname" value="Mouse">
        <br><br>

        <br>
        <br>
        <input class="btn btn-success my-2 my-sm-0" type="submit" value="Add User">
        

    </form>
</div>