<h1 class="title">Overview</h1>
<div class="overview-wrapper">
    <div class="item item1">Backlog</div>
    <div class="item item2">Todo</div>
    <div class="item item1">Doing</div>
    <div class="item item2">Done</div>
    <div class="item task-container">
        <div class="subitem task">1</div>
        <div class="subitem task">2</div>
        <div class="subitem task">3</div>
        <div class="subitem task">4</div>
        <div class="subitem task">5</div>
        <div class="subitem task">6</div>
    </div>
        <div class="item task-container">
        <div class="subitem task">1</div>
        <div class="subitem task">2</div>
        <div class="subitem task">3</div>
        <div class="subitem task">4</div>
        <div class="subitem task">5</div>
        <div class="subitem task">6</div>
    </div>
        <div class="item task-container">
        <div class="subitem task">1</div>
        <div class="subitem task">2</div>
        <div class="subitem task">3</div>
        <div class="subitem task">4</div>

    </div>
        <div class="item task-container">
        <div class="subitem task blue">1</div>
        <div class="subitem task">2</div>
        <div class="subitem task">3</div>
        <div class="subitem task">4</div>
        <div class="subitem task">5</div>
        <div class="subitem task">6</div>
    </div>

</div>