<h1 class="title">Overview</h1>
<div class="overview-wrapper">
    <div class="task-header">Backlog</div>
    <div class="task-header">Todo</div>
    <div class="task-header">Doing</div>
    <div class="task-header">Done</div>
    <div class="tasks-container">
        <div class="task user-color">1</div>
        <div class="task user-color">2</div>
        <div class="task user-color">3</div>
        <div class="task user-color">4</div>
        <div class="task user-color">5</div>
        <div class="task user-color">6</div>
    </div>
    <div class="tasks-container">
        <div class="task user-color">1</div>
        <div class="task user-color">2</div>
        <div class="task user-color">3</div>
        <div class="task user-color">4</div>
        <div class="task user-color">5</div>
        <div class="task user-color">6</div>
    </div>
    <div class="tasks-container">
        <div class="task user-color">1</div>
        <div class="task user-color">2</div>
        <div class="task user-color">3</div>
        <div class="task user-color">4</div>
        <div class="task user-color">5</div>
        <div class="task user-color">6</div>
    </div>
    <div class="tasks-container">
        <div class="task user-color">1</div>
        <div class="task user-color">2</div>
        <div class="task user-color">3</div>
        <div class="task user-color">4</div>
        <div class="task user-color">5</div>
        <div class="task user-color">6</div>
    </div>

</div>