<!DOCTYPE html>
<html>

<head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <link href="/styles/main.css" rel="stylesheet">

</head>

<body>
    <div id="wrap">
        <div id="main">
            {{>header}}
            {{{body}}}
        </div>
    </div>
    {{>footer}}
    <script src="/reload/reload.js"></script>
</body>

</html>