
$primary: 	#5e0094;
$secondary: #fccd22;
$tertiary: #0abab5;
$quaternary:#ffffff;
$quinary: #eff5fb;

$theme-colors: (

    "success":$secondary,
    "dark":$primary,
    "navbar-dark-color":$primary,
    "secondary":$secondary
);

html, body {
    height: 100%;
}

#wrap{
    min-height: 100%;
}
  
#main{
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}
  
.footer{
    //position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
} 

.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.main-wrapper{
    margin: 20px auto;
    max-width: 70%;
}

.overview-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 150px );
    grid-template-rows: repeat(2, [row] auto );
    background-color: #fff;
    color: #444;
}

.task-header{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.tasks-container{
    grid-column: col 3 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.task{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}


@import "../node_modules/bootstrap/scss/bootstrap";






