
$primary: 	#5e0094;
$secondary: #fccd22;
$tertiary: #0abab5; 
$quaternary:#ffffff;
$quinary: #eff5fb;

$theme-colors: (

    "success":$secondary,
    "dark":$primary,
    "navbar-dark-color":$primary,
    "secondary":$secondary
);



@import "../node_modules/bootstrap/scss/bootstrap";


html, body {
    height: 100%;
}

#wrap{
    min-height: 100%;
}
  
#main{
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}
  
.footer{
    //position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
} 

.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.main-wrapper{
    margin: 100px auto;
    max-width: 80%;
}

.overview-wrapper{
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-column-gap:4rem;
    
}


.item {
    
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    

}

.task-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 0.5em;
    padding:10px;
    text-align: center;
    

    
}

.subitem {
    background-color: #fdfa4e;
    border-radius: 5px;
    padding-top: 35px;

}

.subitem:hover{
    background-color: $tertiary;
}


.center{
    margin:auto;
    
}

.blue{
    background-color: #8c8acf8e;
}

.form-body{
    margin:50px auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
   }
   
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 220px;
    top:20px;
    left:20px;
    height:200px;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    background: $tertiary;
    z-index: 10;
    padding-top:20px;
    border-radius: 5px;
    border: 1px solid #027773;
   }
   
.dropdown:hover .dropdown-content {
    display: block;
   }
   
.desc {
    padding: 15px;
    text-align: center;
    background-color: rgb(252, 202, 142)
   }





